# Dependency folders
backend/node_modules/
frontend/node_modules/

# Environment variables (Cực kỳ quan trọng để bảo mật API Key của Groq và HF)
backend/.env
frontend/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS metadata
.DS_Store
Thumbs.db

# Production build
frontend/dist/
frontend/build/

# Data & Uploads
backend/uploads/*
!backend/uploads/.gitkeep